.advant {
    padding-top: 60px;
}

.container-advant {

    // width: 450px;
    @include tablet {
        width: 768px;
    }

    @include desctop {
        width: 1200px;
    }
}

.advant-list {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @include desctop {
        display: flex;
        flex-wrap: nowrap;
    }
}

.advant-item {
    @include tablet {
        width: 354px;
        justify-content: center;
        align-content: center;
    }

    @include desctop {}
}

.advant-item:not(:first-child) {
    margin-top: 30px;

    @include tablet {
        margin-top: 0px;
    }
}

.advant-wrap-icon {
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advant-title {
    @include font (700, 14px, 1.71, 0.03em);
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;

    @include tablet {
        text-align: left;
    }
}

.advant-text {
    @include font (400, 14px, 1.71, 0.03em);
    margin-top: 10px;
    color: #757575;
}



// .services {
//     display: flex;
//     margin: -30px 0 0 -30px;

//     &__item {
//         display: flex;
//         flex-direction: column;
//         padding: 30px 0 0 30px;

//         .icon_wrapper {
//             padding: 25px 0;
//             background-color: var(--background-color-third);
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             .icon_container {
//                 width: 70px;
//                 height: 70px;

//                 svg {
//                     width: 100%;
//                     height: 100%;
//                 }
//             }

//         }

//         .title {
//             margin-top: 30px;
//             font-weight: 700;
//             line-height: 1.14;
//             font-size: 14px;
//             letter-spacing: 0.03em;
//         }

//         .text {
//             margin-top: 10px;
//             font-weight: 400;
//             line-height: 1.71;
//             font-size: 14px;
//             letter-spacing: 0.03em;

//         }
//     }
// }