.hero {
    background-color: var(--background-color-second);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/studio/hero-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    @include font (900, 44px, 1.36, 0.06em);
    color: var(--background-color-first);
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
}

.hero__button {
    @include font (700, 16px, 1.87, 0.06em);
    color: var(--background-color-first);
    background-color: var(--color-text-action);
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    min-width: 216px;
    border-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--color-text-first);
        background-color: var(--background-color-third);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}